$orange: #fa5503;
$orange-2: #f50;
$dark-orange: #f30;
$white: #fff;
$light-gray: #e5e5e5;
$gray: #ccc;
$medium-gray: #999;
$dark-gray: #333;
$darkest-gray: #111;

$red-gray: #846170;
$blue-gray: #70929c;

$sand-dune: rgb(126, 110, 93);
$dark-brown: rgb(44, 37, 33);
