$orange: #fa5503;
$white: #fff;
$light-gray: #e5e5e5;
$gray: #ccc;
$medium-gray: #999;
$dark-gray: #333;
$darkest-gray: #111;

$red-gray: #846170;
$blue-gray: #70929c;

$sand-dune: rgba(126, 110, 93, .9);
$dark-brown: rgba(44, 37, 33, .9);
