$orange: #fa5503;
$white: #fff;
$gray: #ccc;
$light-gray: #e5e5e5;
$dark-gray: #333;
$darkest-gray: #111;


// $blue-gray: rgba(72, 80, 136, 0.58);
// $red-gray: rgba(136, 72, 73, 0.58);


$red-gray: #846170;
$blue-gray: #70929c;
