@import 'fonts.scss';
@import 'colors.scss';

body {
  margin: 0 auto;
  font-family: $font-stack;
}

* {
  font-weight: 100;
}

a {
  cursor: pointer;
}

button {
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
  margin: 0 auto;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid $gray;
}

.input-text-large {
  font-size: 18px;
  height: 40px;
  border-radius: 5px;
}

.orange-button {
  background-color: $orange;
  color: white;
}

.modal-background {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(242, 242, 242, 0.9);
  z-index: 2;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 75px;
  z-index: 3;
  background: $white;
}

.errors {
  text-align: center;
  top: 500px;
  color: red;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.5;
}

input[type="file"] {
  display: none;
}

#root {
	overflow: scroll;
}
