@import '../base/layout.scss';


.artist-hero-container {
  display: flex;
  position: relative;
  top: 46px;
  width: 100%;
  height: 260px;
  background: linear-gradient(135deg, $sand-dune, $dark-brown);

  img {
    border-radius: 50%;
    position: absolute;
    height: 200px;
    width: 200px;
    top: 30px;
    left: 30px;
  }

  .artist-name {
    font-size: 24px;
    line-height: 37px;
    padding: 5px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 230px;
    color: $white;
  }
}

// .artist-detail-content-container {
.main-content-container {
  width: 1240px;
  min-height: 973px;
  position: absolute;
  top: 306px;
  background-color: $white;

  .edit-button {
    padding: 5px 9px 5px 7px;
    border: 1px solid $light-gray;
    &:hover {
      border-color: $gray;
    }
  }
}

.artist-buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 95%;
  margin: 0 auto;
  border-bottom: 1px solid $off-white;
}

.artist-buttons {
    margin-top: 15px;
    padding-bottom: 5px;
}

.artist-stats {
  position: absolute;
  left: 20px;
  top: 0px;
  display: flex;
  padding-bottom: 20px;

  div {
    color: $medium-gray;
    width: 90px;
    border-right: 1px solid $light-gray;
    padding-left: 20px;

    p {
      font-size: 12px;
      padding-bottom: 6px;
    }
    .artist-stat {
      font-size: 20px;
    }
  }

  div:nth-child(3) {
    border: none;
  }

  div:first-child {
    padding: 0px;
  }
}

.artist-bio {
  width: 325px;
  position: absolute;
  top: 60px;
  left: 20px;
}

.artist-content-container {
  @extend .main-content-container;
  top: 306px;
}
