@import '../base/colors.scss';

.hero-container {
  display: flex;
  position: relative;
  width: 1240px;
  height: 450px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg");
  margin: 0 auto;
  border-top: 4px solid $orange;
}

.hero-logo-small {
  display: block;
  position: absolute;
  top: 24px;
  left: 32px;
  width: 184px;
  height: 46px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png");
  background-repeat: no-repeat;
  background-position: 13px 0px;
  background-size: 48px 22px;
}

.hero-logo-full:after {
  display: block;
  position: absolute;
  left: 60px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/wordmark-d95b0ac.png");
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  width: 100%;
}

.hero-buttons-container {
  display: inline-block;
  position: absolute;
  right: 30px;
  padding-top: 20px;

  button {
    height: 30px;
    color: white;
  }

  .hero-create-account {
    width: 130px;
    margin-left: 10px;
    background-color: $orange;
  }

  .hero-sign-in {
    width: 75px;
    background: transparent;
    border: 1px solid $gray;
    &:hover {
      border-color: $light-gray;
    }
  }
}

.hero-content-container {
  margin: 0 auto;

  h2, p, button {
    color: $white;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
  }

  h2 {
    display: block;
    font-size: 36px;
    margin-top: 150px;
  }

  p {
    font-size: 18px;
    max-width: 530px;
    padding-top: 10px;
    padding-bottom: 35px;
    line-height: 2;
  }

  button {
    display: block;
    width: 210px;
    height: 46px;
    background-color: $orange;
    font-size: 18px;
    font-weight: 100;
  }
}

.navbar-container {
  margin: 0 auto;
  position: fixed;
  height: 46px;
  width: 100%;
  background-color: $dark-gray;
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 960px;
  max-width: 1240px;
  height: inherit;
  margin: 0 auto;
}

.navbar-button {
  border-radius: 0;
  height: inherit;
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid $darkest-gray;
  color: $gray;
  text-align: center;
  padding-top: 17px;
  font-size: 14px;
  &:hover {
    color: white;
  }
}

.logo-button {
  display: inline-block;
  width: 69px;
  background-color: $orange;
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.home-button {
  left: 69px;
  width: 120px;
}

.collection-button {
  left: 189px;
  width: 120px;
}

.nav-search-form {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  input, button {
    color: #666;
  }
  left: 320px;
  width: 500px;
}

.nav-search-input {
  background-color: $light-gray;
  border-radius: 4px;
  padding: 5px 7px;
  width: 100%;
  margin: auto 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}

.search-icon {
  position: absolute;
  right: 20px;
}

.upload-button {
  right: 180px;
  width: 120px;
  border-left: 1px solid $darkest-gray;
}

.profile-button {
  right: 80px;
  width: 100px;
}

.logout-button {
  right: 0px;
  width: 80px;
  align-items: center;
  padding-bottom: 12px;
}


.active {
  background-color: $darkest-gray;
  color: $white;
}
