@import '../base/colors.scss';

.hero-container {
  display: flex;
  position: relative;
  width: 1240px;
  height: 450px;
  top: 46px;
  margin-bottom: 46px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/home/hp_image-6155d6b.jpg");
  margin: 0 auto;
  border-top: 4px solid $orange;
}

.hero-logo-small {
  display: block;
  position: absolute;
  top: 24px;
  left: 32px;
  width: 184px;
  height: 46px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png");
  background-repeat: no-repeat;
  background-position: 13px 0px;
  background-size: 48px 22px;
}

.hero-logo-full:after {
  display: block;
  position: absolute;
  left: 60px;
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/wordmark-d95b0ac.png");
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  width: 100%;
}

.hero-buttons-container {
  display: inline-block;
  position: absolute;
  right: 30px;
  padding-top: 20px;

  button {
    height: 30px;
    color: white;
  }

  .hero-create-account {
    width: 130px;
    margin-left: 10px;
    background-color: $orange;
  }

  .hero-sign-in {
    width: 75px;
    background: transparent;
    border: 1px solid $gray;
    &:hover {
      border-color: $light-gray;
    }
  }
}

.hero-content-container {
  margin: 0 auto;

  h2, p, button {
    color: $white;
    font-weight: 100;
    text-align: center;
    margin: 0 auto;
  }

  h2 {
    display: block;
    font-size: 36px;
    margin-top: 150px;
  }

  p {
    font-size: 18px;
    max-width: 530px;
    padding-top: 10px;
    padding-bottom: 35px;
    line-height: 2;
  }

  button {
    display: block;
    width: 210px;
    height: 46px;
    background-color: $orange;
    font-size: 18px;
    font-weight: 100;
  }
}
