@import '../base/colors.scss';

.navbar-container {
  margin: 0 auto;
  position: fixed;
  height: 46px;
  width: 100%;
  background-color: $dark-gray;
}

.navbar {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
  margin: 0 auto;
  // min-width: 960px;
  // max-width: 1240px;

  min-width: 1130px;
  max-width: 1240px;
}

.navbar-button {
  border-radius: 0;
  height: inherit;
  position: absolute;
  box-sizing: border-box;
  border-right: 1px solid $darkest-gray;
  color: $gray;
  text-align: center;
  padding-top: 17px;
  font-size: 14px;
  &:hover {
    color: white;
  }
}

.logo-button {
  display: inline-block;
  width: 69px;
  background-color: $orange;
  // background: linear-gradient(#f70,#f30);
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png");
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.home-button {
  left: 69px;
  width: 120px;
}

.collection-button {
  left: 189px;
  width: 120px;
}

.nav-search-form {
  display: flex;
  align-items: center;
  height: inherit;
  position: relative;
  input, button {
    color: #666;
  }
  left: 320px;
  // width: 500px;

  min-width: 300px;
  width: 48%
}

.nav-search-input {
  background-color: $light-gray;
  border-radius: 4px;
  padding: 5px 7px;
  width: 100%;
  margin: auto 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 20px;
}

.search-icon {
  position: absolute;
  right: 20px;
}

.upload-button {
  right: 15%;
  width: 120px;
  min-width: 80px;
  padding-bottom: 17px;
  // border-left: 1px solid $darkest-gray;
}

.profile-button {
  right: 80px;
  min-width: 100px;
  width: 8%;
}

.logout-button {
  right: 0px;
  width: 80px;
  align-items: center;
  padding-bottom: 12px;
}


.active {
  background-color: $darkest-gray;
  color: $white;
}


// Logged Out Navbar

.logo-button-full {
  display: inline-block;
  width: 200px;
  background-color: $orange;
  background-image: url("https://a-v2.sndcdn.com/assets/images/header/cloud-e365a47.png");
  background-position: 10px 50%;
  background-repeat: no-repeat;
  border: none;

  &:after {
    display: block;
    position: absolute;
    left: 60px;
    background-image: url("https://a-v2.sndcdn.com/assets/images/header/wordmark-d95b0ac.png");
    background-repeat: no-repeat;
    background-position: 0px -5px;
    content: "";
    height: 100%;
    width: 100%;
  }
}

.navbar-sign-in, .navbar-create-account {
  position: absolute;
  margin: auto 0;
  height: 25px;
  line-height: 1;
  padding-top: 5px;
  color: white;
  font-size: 12px;
}

.navbar-sign-in {
  width: 70px;
  right: 270px;
  border: 1px solid $gray;
  &:hover {
    border-color: $light-gray;
  }
}
.navbar-create-account {
  width: 110px;
  right: 120px;
  border-radius: 4px;
  background-color: $orange;
}

.logged-out {
  .home-button {
    left: 200px;
  }

  .upload-button {
    border: none;
    right: 0;
  }

  .nav-search-form {
    width: 550px;
  }
}
