@import '../base/colors.scss';
@import '../base/layout.scss';

.session-form {
  @extend .modal-content;

  width: 450px;
  height: 620px;

  input, button {
    display: block;
    width: 400px;
    margin-bottom: 30px;
  }

  input {
    padding-left: 10px;
    box-sizing: border-box;
  }

  button {
    padding: 15px;
  }
}
