@import '../base/colors.scss';

.session-modal {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: rgba(242, 242, 242, 0.9);
  z-index: 2;
}

.session-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 75px;
  width: 450px;
  height: 620px;
  z-index: 3;
  background: $white;
  input {
    display: block;
    width: 400px;
    margin-bottom: 30px;
  }

  button {
    padding: 15px;
    width: 400px;
  }
}
