@import '../base/colors.scss';

.session-form {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 75px;
  width: 450px;
  height: 620px;
  z-index: 3;
  background: $white;

  input, button {
    display: block;
    width: 400px;
    margin-bottom: 30px;
  }

  input {
    padding-left: 10px;
    box-sizing: border-box;
  }

  button {
    padding: 15px;
  }
}
