.track-index {
  margin-left: 30px;
  width: 100%;
}

.track-index-item {
  height: 160px;
  display: flex;
  padding-bottom: 44px;
  width: 860px;
}

.track-index-item-image {
  display: block;
  width: 160px;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

.track-index-item-content {
  display: flex;
  position: relative;
  width: 700px;
  margin-left: 16px;

  .play-button {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 46px;
    height: 46px;
    &:after {
      top: 12px;
      left: 18px;
      background-size: 14px 24px;
    }
  }

  .pause-button {
    position: absolute;
    &:after {
      top: 12px;
      left: 14px;
      background-size: 42% 56%;
    }
  }

  span {
    position: absolute;
    display: block;
    left: 70px
  }

  .track-link-container {
    top: 35px;
    z-index: 2;
  }

  .artist-link-container {
    top: 12px;
  }

  .artist-link {
    color: $medium-gray;
    &:hover {
      color: $dark-gray;
    }
  }

  .track-link {
    color: $dark-gray;
    padding-top: 10px;
    &:hover {
      color: black;
    }
  }

  .waveform {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 30px;
    // padding-top: 30px;
    cursor: pointer;
    opacity: .7;
    transition: opacity .2s;
    &:hover {
      opacity: .9;
    }
  }
}

.track-data {
    position: absolute;
    right: 0px;
    bottom: 0px;
    a {
      color: $medium-gray
    }
    i {
      padding-right: 5px;
    }
}
